.counter {
	$that: &;

	display: flex;
	align-items: center;

	&__minus,
	&__plus {
		cursor: pointer;
		width: 19px;
		height: 19px;
		border-radius: 4px;
		background-color: $color_primary;

		@include flex-center;

		&:active {
			background-color: #ea5d00;
		}
	}

	&__result {
		text-align: center;
		position: relative;
		min-width: 60px;
		transform: translate3d(0, 1px, 0);

		&::after {
			content: ' шт.';
			font-size: 12px;
			font-weight: 900;
		}
	}
}
