<div class="nav-arrow-tabs">
	<div class="nav-arrow-tabs__item">
		<svg
			width="31"
			height="18"
			viewBox="0 0 31 18"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M1.07324e-07 9L31 -2.13876e-07L22.963 9L31 18L1.07324e-07 9Z"
				fill="currentColor"
			/>
		</svg>
	</div>
	<div class="nav-arrow-tabs__item">
		<svg
			width="32"
			height="18"
			viewBox="0 0 32 18"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M32 9L-2.14648e-07 2.53349e-08L8.2963 9L0 18L32 9Z"
				fill="currentColor"
			/>
		</svg>
	</div>
</div>
