<div class="button-send">
	<!-- ОШИБКА запроса - добавить к button-send класс '_error' -->
	<!-- УСПЕШНЫЙ запрос - добавить к button-send класс '_success' -->
	<button type="submit" name="" class="button-send__message">
		<span>Связаться с нами</span>
		<svg width="20" height="19">
			<use xlink:href="#Send_2"></use>
		</svg>
	</button>
	<div class="button-send__success">
		<svg width="13" height="10">
			<use xlink:href="#Check"></use>
		</svg>
		<span>Заявка отправлена</span>
	</div>
	<div class="button-send__error">
		<svg width="15" height="14">
			<use xlink:href="#Cancel"></use>
		</svg>
		<span>Что-то пошло не так</span>
	</div>
</div>
