<div class="socials {{#if socialsClass}}{{socialsClass}}{{/if}}">
	<ul class="socials__list">
		<li class="socials__item">
			<a href="#" target="_blank" class="socials__go">
				<svg width="21" height="15">
					<use xlink:href="#youtube"></use>
				</svg>
			</a>
		</li>
		<li class="socials__item">
			<a href="#" target="_blank" class="socials__go">
				<svg width="21" height="21">
					<use xlink:href="#instagram"></use>
				</svg>
			</a>
		</li>

		<li class="socials__item">
			<a href="#" target="_blank" class="socials__go">
				<svg width="20" height="21">
					<use xlink:href="#whatsapp"></use>
				</svg>
			</a>
		</li>

		<li class="socials__item">
			<a href="#" target="_blank" class="socials__go">
				<svg width="21" height="21">
					<use xlink:href="#vk"></use>
				</svg>
			</a>
		</li>

		<li class="socials__item">
			<a href="#" target="_blank" class="socials__go">
				<svg width="17" height="17">
					<use xlink:href="#telegram"></use>
				</svg>
			</a>
		</li>
	</ul>
</div>
